* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f7fb;
}

.App {
  margin-top: 30px;
}

.blob-top {
  position: absolute;
  left: 80%;
  top: 0%;
  width: 350px;
}

.blob-bot {
  position: absolute;
  right: 75%;
  bottom: -10%;
  width: 150px;
}

/* HOME COMPONENT */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  margin: 200px 0px 25px 0px;

  color: #293264;
}

.home-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0px 100px 0px 100px;
  color: #293264;
}

.home-start-button {
  /* button */
  width: 160px;
  height: 40px;
  background: #4d5b9e;
  border-radius: 15px;
  border: #4d5b9e;
  /* text */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  margin-top: 30px;
}

/* QUIZ SECTION */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 0px 30px;
}

.quiz-question {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #293264;
}

.quiz-button {
  height: 29px;
  margin: 12px 6px 12px 6px;
  border: 0.794239px solid #4d5b9e;
  padding: 3px;
  border-radius: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;


  color: #293264;
}

.quiz-border {
  border: 0.4px solid #dbdef0;
  transform: rotate(-0.05deg);
  margin-top: 20px;
  width: 510px;
}

.quiz-option-container {
  display: flex;
  justify-content: center;
}