* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* HOME COMPONENT */
.home-title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  margin-top: 200px;

  color: #293264;
}

.home-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #293264;
}

.home-start-button {
  /* button */
  width: 160px;
  height: 40px;
  background: #4d5b9e;
  border-radius: 15px;
  border: #4d5b9e;
  /* text */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  margin-top: 50px;
}
